[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
mypy = "*"
flake8 = "*"
autopep8 = "*"
pylint = "*"
black = "*"
ipykernel = "*"

[requires]
python_version = "3.10"

[packages]
types-aiobotocore-sqs = "*"
